.btn-consult {
  background-color: #073765;
  font-weight: bold;
  color: white;
}

.hero-section {
  position: relative;
  height: 90vh; /* Set hero section height */
  overflow: hidden;
}

.btn-meet {
  background-color: black;
  color: white;
}

.bg-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; /* Keeps the image behind the content */
}

.hero-content {
  position: relative;
  z-index: 1; /* Ensure the content is above the background image */
}

.nav-item {
  font-size: 20px;
  color: white;
  font-weight: 200;
}

.navbar-scrolled {
  background-color: #a8a9aa;
  box-shadow: 0 3px 10px rgba(#a8a9aa, 0.25);
}

.navbar-unscrolled {
  background-color: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(5px);
}

body {
  background-color: #000c17;
  overflow-x: hidden;
}

.navbar-brand img {
  max-height: 50px;
  max-width: 175px;
  height: auto;
  width: auto;
}

h1 {
  font-family: "Cinzel", system-ui;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: white;
  font-size: 4.313rem;
  margin-top: 4rem;
}

.navbar-collapse-border {
  border-top: none;
}

.mx-6 {
  margin-left: 5rem;
  margin-right: 5rem;
}

.px-6 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.gap-6 {
  gap: 5rem;
}

/* .card {
  border-radius: 50px;
} */

@media (max-width: 991px) {
  h1 {
    font-family: "Cinzel", system-ui;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: white;
    font-size: 40px;
  }

  .navbar-collapse-border {
    border-top: 1px solid rgba(26, 105, 175, 0.25);
  }

  .toggler {
    background-color: transparent;
    margin-bottom: 5px;
  }

  /* Default Hamburger icon */
  .toggler-icon {
    width: 30px;
    height: 2px;
    background-color: black;
    display: inline-block;
    position: relative;
  }

  .toggler-icon::before,
  .toggler-icon::after {
    content: "";
    width: 30px;
    height: 2px;
    background-color: black;
    display: inline-block;
    position: absolute;
    left: 0;
    transition: all 0.3s ease;
  }

  .toggler-icon::before {
    top: -8px;
  }

  .toggler-icon::after {
    top: 8px;
  }

  /* Hide the middle line when not collapsed */
  .toggler:not(.collapsed) .toggler-icon {
    background-color: transparent;
  }

  .toggler:not(.collapsed) .toggler-icon::before {
    top: 0;
    transform: rotate(45deg);
  }

  .toggler:not(.collapsed) .toggler-icon::after {
    top: 0;
    transform: rotate(-45deg);
  }
}

@media (max-width: 767.98px) {
  h1 {
    margin-top: 0px;
  }

  .mx-6 {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .px-6 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
