body {
  background-color: #000c17;
  overflow-x: hidden;
}

.rotated {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

svg {
  transition: transform 0.3s ease-in-out;
}

/* Buttons */

.btn-consult {
  background-color: #073765;
  font-size: 18px;
  font-weight: 500;
  color: white;
}

.btn-consult:hover {
  background-color: white; /* Inverts the background color */
  color: #073765; /* Inverts the text color */
  outline: 3px;
  outline-style: solid;
  outline-color: #073765;
}

.btn-meet {
  background-color: black;
  color: white;
}

.btn-meet:hover {
  background-color: white;
  color: black;
  outline: 3px;
  outline-style: solid;
  outline-color: black;
}

/* Hero Section */

.hero-section {
  position: relative;
  height: 90vh;
  padding-top: 70px;
}

.bg-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Navbar */

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.15); /* Transparent background */
  backdrop-filter: blur(5px); /* Keeps the blur effect */
}

.nav-item {
  font-size: 19px;
  font-weight: 400;
}

.nav-item:hover {
  text-decoration: underline;
}

.navbar-unscrolled {
  background-color: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(5px);
}

.navbar-scrolled {
  background-color: #a8a9aa;
  box-shadow: 0 3px 10px rgba(#a8a9aa, 0.25);
}

.navbar-brand-bg {
  max-height: 100px;
  max-width: 350px;
  height: auto;
  width: auto;
}

.navbar-brand-sm {
  max-height: 50px;
  max-width: 175px;
  height: auto;
  width: auto;
}

.navbar-collapse-border {
  border-top: none;
}

.toggler {
  background-color: transparent;
}

/* Typography */

h1 {
  font-family: "Cinzel", system-ui;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: white;
  font-size: 4.313rem;
  margin-top: 4rem;
}

h2 {
  font-family: "Cinzel", system-ui;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: white;
  font-size: 1.938rem;
}

.hero-subheading {
  color: white;
  font-weight: 400;
  font-size: 1.563rem;
}

/* Custom Margin and Padding */

.mx-6 {
  margin-left: 5rem;
  margin-right: 5rem;
}

.px-6 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.py-6 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

@media (max-width: 991px) {
  h1 {
    font-family: "Cinzel", system-ui;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: white;
    font-size: 40px;
  }

  .navbar-collapse-border {
    border-top: 1px solid rgba(26, 105, 175, 0.25);
  }

  .toggler {
    background-color: transparent;
    margin-bottom: 5px;
  }

  /* Default Hamburger icon */
  .toggler-icon {
    width: 30px;
    height: 2px;
    background-color: black;
    display: inline-block;
    position: relative;
  }

  .toggler-icon::before,
  .toggler-icon::after {
    content: "";
    width: 30px;
    height: 2px;
    background-color: black;
    display: inline-block;
    position: absolute;
    left: 0;
    transition: all 0.3s ease;
  }

  .toggler-icon::before {
    top: -8px;
  }

  .toggler-icon::after {
    top: 8px;
  }

  /* Hide the middle line when not collapsed */
  .toggler:not(.collapsed) .toggler-icon {
    background-color: transparent;
  }

  .toggler:not(.collapsed) .toggler-icon::before {
    top: 0;
    transform: rotate(45deg);
  }

  .toggler:not(.collapsed) .toggler-icon::after {
    top: 0;
    transform: rotate(-45deg);
  }
}

@media (max-width: 767.98px) {
  h1 {
    margin-top: 0px;
  }

  .mx-6 {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .px-6 {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .py-6 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
