<div class="max-w-7xl mx-auto px-4 md:px-6 lg:px-8">
  <div class="flex flex-wrap space-y-6 mb-4">
    <div class="w-full md:w-3/5 flex flex-col space-y-4 md:pr-8 lg:pr-10">
      <a class="" href="http://localhost:8888/">
        <img
          src="/assets/images/Medendi-Logo-Black.webp"
          id="logo"
          alt="Medendi Tactus navigation bar logo"
          class="max-h-[100px] max-w-[350px] h-auto w-auto transition-all duration-300" />
      </a>

      <div>
        <p class="font-semibold">Contact:</p>

        <p>info@medenditactus.com<br />(905) 630-8952<br />3295 Mainway #4, Burlington, ON L7M 1A6</p>
      </div>
    </div>

    <div class="self-center flex flex-col w-full md:w-2/5">
      {{ partial "content/social-media.html" . }}

    </div>
  </div>

  <div class="my-8">
    <ul class="flex items-center space-x-4">
      {{ range .Site.Menus.main }}
        <li><a class="decoration-auto hover:underline font-semibold" href="{{ .URL }}">{{ .Name }}</a></li>
      {{ end }}
    </ul>
  </div>

  <div class="border-t pt-4">
    <p class="text-sm">Powered by Dolphin Development © {{ now.Year }}</p>
  </div>
</div>
