<div class="max-w-7xl mx-auto px-4 md:px-6 lg:px-8 flex flex-col">
  <div class="flex items-center">
    <div class="flex items-center">
      <a class="" href="http://localhost:8888/">
        <img
          src="/assets/images/Medendi-Logo-Black.webp"
          id="logo"
          alt="Medendi Tactus navigation bar logo"
          class="max-h-[100px] max-w-[350px] h-auto w-auto transition-all duration-300" />
      </a>
    </div>

    <!-- Navbar Section -->
    <div class="flex items-center ml-auto">
      <!-- Hamburger Menu Button (Visible on small screens) -->
      <div id="hamburger-navbar" class="block">
        <button
          class="group flex items-center space-x-2 rounded-full border py-1.5 px-4 bg-zinc-100 hover:bg-zinc-200"
          data-target="menu-bar"
          aria-expanded="false"
          aria-label="Toggle navigation"
          id="hamburger-menu-button">
          <div class="grid justify-items-center gap-1">
            <span
              class="h-1 w-7 bg-black rounded transition-transform group-aria-expanded:rotate-45 group-aria-expanded:translate-y-2"></span>
            <span class="h-1 w-7 bg-black rounded transition-opacity group-aria-expanded:opacity-0"></span>
            <span
              class="h-1 w-7 bg-black rounded transition-transform group-aria-expanded:-rotate-45 group-aria-expanded:-translate-y-2"></span>
          </div>
        </button>
      </div>

      <!-- Full Navbar (Visible on large screens) -->
      <div id="full-navbar" class="hidden lg:block">
        <nav aria-label="Main Navigation">
          <ul class="flex items-center space-x-4">
            {{- partial "menu.html" (dict "menuID" "main" "page" .) -}}
          </ul>
        </nav>
      </div>
    </div>

    {{- partial "search.html" . -}}
  </div>
  <div
    id="hamburger-menu-bar"
    class="invisible hidden flex-col space-y-4 mt-4 opacity-0 -translate-y-full transition-all ease-out duration-500">
    {{- partial "menu.html" (dict "menuID" "main" "page" .) -}}
  </div>

  <div id="search" class="container mx-auto px-4 mt-3 hidden opacity-0 scale-95 transition-all duration-300 ease-in-out">
    <div class="flex mb-2 items-center">
      <p class="font-bold text-lg">Search For A Post</p>
      <a href="/blog/search" class="ml-auto border rounded-full py-2 px-4 md:px-6 hover:bg-blue-100 bg-zinc-100">Search All</a>
    </div>
    <input
      type="text"
      id="nav-search-input"
      class="border rounded px-4 py-2 w-full text-black mb-2 rounded-full"
      placeholder="Search here..."
      aria-label="Search button" />
    <ul id="nav-search-results" class="flex flex-col gap-2">
      <!-- Results will be dynamically added here -->
    </ul>
  </div>
</div>
