<div class="max-w-7xl mx-auto px-4 md:px-6 lg:px-8 flex flex-col">
  <div class="flex items-center">
    <div class="flex items-center">
      <a class="" href="http://localhost:8888/">
        <img
          src="/assets/images/Medendi-Logo-Black.webp"
          alt="Medendi Tactus navigation bar logo"
          class="d-inline-block align-top navbar-brand-bg" />
      </a>
    </div>

    <!-- Navbar Section -->
    <div class="flex items-center ml-auto">
      <!-- Hamburger Menu Button (Visible on small screens) -->
      <div id="hamburger-navbar" class="block">
        <button
          class="group flex items-center space-x-2 rounded-full border py-1.5 px-4 bg-zinc-100 hover:bg-zinc-200"
          data-target="menu-bar"
          aria-expanded="false"
          aria-label="Toggle navigation"
          id="hamburger-menu-button">
          <div class="grid justify-items-center gap-1">
            <span
              class="h-1 w-7 bg-black rounded transition-transform group-aria-expanded:rotate-45 group-aria-expanded:translate-y-2"></span>
            <span class="h-1 w-7 bg-black rounded transition-opacity group-aria-expanded:opacity-0"></span>
            <span
              class="h-1 w-7 bg-black rounded transition-transform group-aria-expanded:-rotate-45 group-aria-expanded:-translate-y-2"></span>
          </div>
        </button>
      </div>

      <!-- Full Navbar (Visible on large screens) -->
      <div id="full-navbar" class="hidden md:block">
        <nav>
          <ul class="flex items-center space-x-4">
            {{- partial "menu.html" (dict "menuID" "main" "page" .) -}}
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div
    id="hamburger-menu-bar"
    class="invisible hidden flex-col space-y-4 mt-4 opacity-0 -translate-y-full transition-all ease-out duration-500">
    {{- partial "menu.html" (dict "menuID" "main" "page" .) -}}
  </div>
  <!-- Search Functionality -->
  <!-- {{- partial "search.html" . -}} -->
</div>
