{
  "bracketSameLine": true,
  "printWidth": 140,
  "plugins": ["prettier-plugin-go-template"],
  "overrides": [
    {
      "files": ["blog/**/*.html"],
      "options": {
        "parser": "go-template"
      }
    }
  ]
}
