.rotated {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

svg {
  transition: transform 0.3s ease-in-out;
}

.therapist-image {
  /* transform: translate(0, -25%); */
  margin-top: -50px;
}

/* Navbar */

.navbar-unscrolled {
  background-color: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(5px);
}

.navbar-scrolled {
  background-color: #a8a9aa;
  box-shadow: 0 3px 10px rgba(#a8a9aa, 0.25);
}

/* Buttons */

.btn-card {
  font-weight: 500;
  color: white;
  border-bottom: 2px solid #073765;
}

.btn-card:hover {
  border-bottom: 4px solid #106eea;
}

/* Hero Section */

.hero-section {
  position: relative;
  height: 90vh;
  padding-top: 70px;
}

.bg-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Typography */

h2 {
  font-family: "Cinzel", system-ui;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: white;
  font-size: 1.938rem;
}

@media (max-width: 1370px) {
  .therapist-image {
    /* transform: translate(0, 0); */
    margin-top: 0px;
  }
}

@media (max-width: 991px) {
  .therapist-image {
    height: 50%;
    width: 50%;
    /* transform: translate(0, 0); */
    margin-top: 0px;
  }
}

/* Animations */
.animate-slide-left {
  opacity: 0;
  transform: translateX(-100%);
  animation: slide-in-left linear forwards;
  animation-timeline: view();
  animation-iteration-count: 1;
  animation-range: 0px 500px;
}

.animate-slide-right {
  opacity: 0;
  transform: translateX(100%);
  animation: slide-in-right linear forwards;
  animation-timeline: view();
  animation-iteration-count: 1;
  animation-range: 0px 500px;
}

@keyframes slide-in-left {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-in-right {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
