body {
  /* Old background color code 000c17 */
  background-color: #111111;
  overflow-x: hidden;
}

/* Buttons */

.btn-consult {
  background-color: #073765;
  font-size: 18px;
  font-weight: 500;
  color: white;
  transition:
    background-color 0.2s ease-in-out,
    outline 0.2s ease-in-out,
    transform 0.2s ease-in-out;
}

.btn-consult:hover {
  background-color: white; /* Inverts the background color */
  color: #073765; /* Inverts the text color */
  outline: 3px;
  outline-style: solid;
  outline-color: #073765;
  transform: scale(1.02);
}

.btn-blog {
  background-color: black;
  color: white;
  transition:
    background-color 0.2s ease-in-out,
    outline 0.2s ease-in-out,
    transform 0.2s ease-in-out;
}

.btn-blog:hover {
  background-color: white;
  color: black;
  outline: 3px;
  outline-style: solid;
  outline-color: black;
  transform: scale(1.02);
}

/* Navbar */

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #a8a9aa; /* Transparent background */
  transition:
    background-color 0.5s ease-in-out,
    color 0.5s ease-in-out;
}

.nav-item {
  font-size: 19px;
  font-weight: 400;
  transition: transform 0.2s ease-in-out;
}

.nav-item:hover {
  text-decoration: underline;
  text-underline-position: under;
  transform: scale(1.05);
}

.navbar-brand-bg {
  max-height: 100px;
  max-width: 350px;
  height: auto;
  width: auto;
  transition:
    max-height 0.5s ease-in-out,
    max-width 0.5s ease-in-out;
}

.navbar-brand-sm {
  max-height: 50px;
  max-width: 175px;
  height: auto;
  width: auto;
  transition:
    max-height 0.5s ease-in-out,
    max-width 0.5s ease-in-out;
}

.navbar-collapse-border {
  border-top: none;
}

.toggler {
  background-color: transparent;
}

/* Footer */

.footer {
  background-color: #a8a9aa;
}

.footer-menu {
  color: #073765;
  font-size: 20px;
}

.footer-item {
  color: black;
  font-size: 18px;
}

/* Typography */

h1 {
  font-family: "Cinzel", system-ui;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: white;
  font-size: 4.313rem;
  margin-top: 4rem;
}

.hero-subheading {
  color: white;
  font-weight: 400;
  font-size: 1.563rem;
}

/* Custom Margin and Padding */

.mx-6 {
  margin-left: 5rem;
  margin-right: 5rem;
}

.px-6 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.py-6 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

@media (max-width: 991px) {
  h1 {
    font-family: "Cinzel", system-ui;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: white;
    font-size: 40px;
  }

  .navbar-collapse-border {
    border-top: 1px solid rgba(26, 105, 175, 0.25);
  }

  .ham-menu {
    height: 30px;
    width: 30px;
    margin-left: auto;
    position: relative;
  }

  .ham-menu span {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease;
  }

  .ham-menu span:nth-child(1) {
    top: 25%;
  }

  .ham-menu span:nth-child(3) {
    top: 75%;
  }

  .ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .ham-menu.active span:nth-child(2) {
    opacity: 0;
    transition: 0s ease;
  }

  .ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

@media (max-width: 767.98px) {
  h1 {
    margin-top: 0px;
  }

  .mx-6 {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .px-6 {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .py-6 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
