ul {
  list-style-type: none;
  padding-left: 0px;
}

/* Card Specific */

.card {
  background-color: #073765;
  color: white;
  border-radius: 10px;
}

.card-icon {
  border-radius: 10px;
  background-color: white;
  width: 50px;
  height: 50px;
}

.card.active {
  background-color: #1e62a3;
  transform: scale(1.05);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.btn-card {
  font-weight: 500;
  color: white;
  border-bottom: 1px solid white;
}

.btn-card:hover {
  border-bottom: 4px solid #106eea;
}

/* Hidden Section */

.hidden {
  opacity: 0;
  transform: scale(0.95); /* Optional: Slightly smaller on initial load */
  transition:
    opacity 0.5s ease,
    transform 0.5s ease; /* Smooth transition */
  background-color: #1e62a3;
  border-radius: 10px;
}

.hidden.show {
  opacity: 1;
  transform: scale(1); /* Bring it back to normal size */
}

.hidden-card {
  background-color: gray;
  color: black;
  border-radius: 10px;
  border: none;
}

/* Form */

.form-container {
  background-color: white;
  color: black;
  border-radius: 12px;
  padding: 2rem;
}

.btn-submit {
  background-color: #073765;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  width: 100%;
}

.btn-submit:hover {
  background-color: white; /* Inverts the background color */
  color: #073765; /* Inverts the text color */
  outline: 3px;
  outline-style: solid;
  outline-color: #073765;
}

/* Typography */

h2 {
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: white;
  font-size: 1.5rem;
}

h3 {
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: black;
  font-size: 1.2rem;
}

.h2-cinzel {
  font-family: "Cinzel", system-ui;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: white;
  font-size: 3rem;
}

@media (max-width: 767.98px) {
  .hero-section {
    position: relative;
    padding-top: 100px;
  }
}

/* Animations */

.animate-slide-left {
  opacity: 0;
  transform: translateX(-350%);
  animation: slide-in-left linear forwards;
  animation-timeline: view();
  animation-iteration-count: 1;
  animation-range: 0px 500px;
}

@keyframes slide-in-left {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
